﻿
<h4> Customer Login</h4>


<form action="/customers/login" method="post">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Username</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter username">
    </div>

    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Password</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Ration Card Number">
    </div>
    <input type="submit" class="btn btn-primary" name="sub" value="Login"> &nbsp; <input type="button" class="btn btn-danger" name="cancel" value="Cancel"> &nbsp;&nbsp;

    <button type="button" class="btn btn-secondary">Register here</button>
</form>

