﻿@using BOL

<h4>My Profile</h4>

@{ Customers customer = (Customers)this.ViewData["customer"];

    <p>Address::@customer.customerAddress</p>
    <p>Name::@customer.customerName </p>
    <p>Id::@customer.customerId </p>
    <p>Contact Number::@customer.customerContactNumber </p>
    <p>My Distributor::@customer.distributor </p>


}


