﻿
<div class="jumbotron"style="background-color: #FFFFFF; height:2000px;
  width:500%";>
    <h2>Welcome to Ration Truck tracking System</h2>
    <h4>Remote Monitoring System</h4>
    <br>
    <a href="/customers/form">Customers</a>
    <a href="/admin/login">Admin</a>
</div>
